.git
.DS_Store
.dockerignore
.gitignore
.gitlab-ci.yml

npm-debug.log
Dockerfile
build.sh
pub/app.bundle.js
pub/index.html

**/*.vim
**/*.swp
**/*.swo
**/*.env

logs
dumps
node_modules/
charts/

.obsidian
